<div class="row">

<div class="col s3 sidebar">
   <div class="padding20">
   <%= render partial: "new", locals: {snippet: @snippet} %>
</div>
</div>


<div class="col s9">

<h4 class="center-align"> <%= @category.name %> Snippets </h4>


  <% @category.snippets.each do |snippets| %>  

  <div class="col s3">
     <h4><%= snippets.name %></h4>
     <div contentEditable="true">
    <pre>
    <code class="language-markup">
     <%= snippets.description %>
    </code>
   </pre>
   </div>
  </div>

<% end %>

</div>

</div>