<div class="container">

<h1> New Category</h1>


<%= form_for [@category] do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <button type="submit" class="btn btn-success">
    Add category
  </button>
<% end %>

</div>